.sales-by-store-container{
  padding: 40px 15px 60px;
  margin-bottom: 30px;
}

.sales-by-store-quantity{
  font-size: 36px;
  font-weight: 700;
  color: var(--blue-color);
}

.sales-by-store-quantity-label{
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-light-color);
}


@media (min-width: 992px) {
  .sales-by-store-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 63px;
    padding-left: 40px;
  }

}
