.sales-by-store-container{
  padding-top: 40px;
  padding-left: 15px;
  padding-bottom: 60px;
}

.sales-by-store-quantity{
  font-size: 36px;
  font-weight: 700;
  color: var(--blue-color);
}

.sales-by-store-quantity-label{
  font-size: 18px;
  font-weight: 400;
  color: var(--grey-light-color);
}
