* {
  box-sizing: border-box;
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #E5E5E5;
  --blue-color: #334AC3;
  --grey-light-color: #8D8D8D;
}


body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--secondary-color);
  color: var(--blue-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 5px;
}
