.pie-chart-card {
  width: 300px;
  padding-top: 52px;
  display: flex;
  justify-content: center;
}

.apexcharts-legend.apexcharts-align-center {
  flex-direction: column;
  align-items: center;
}

.apexcharts-slices {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 576px) {
  .apexcharts-slices {
    width: 380px;
  }
}

@media (min-width: 768px) {
  .apexcharts-slices {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .apexcharts-slices {
    width: 100%;
    display: flex;
    align-items: end;
  }

  .pie-chart-card {
    display: flex;
    justify-content: center;
  }
}
